body {
    margin: 0;
    width: 100%;
    /* width: 100dvw; */
    height: 100dvh;
    text-align: center;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 5% 5% 85% 5%;
}

#canvas-wrapper {
    font-size: 12;
}

#warning-box {
    display:none;
    height:100%;
    width: 100%;
    /* background-color: black; */
    /* align-content: center; */
    /* margin: auto; */
    /* justify-content: center; */
    color: red;
    font-size: 16px;
    font-weight: 700;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#warning-box.show {
    display:flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-grid;
    grid-row-start: 1;
    background-color: lightgreen;
}

#diagz {
    margin-left: auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 10px;
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    column-gap: .7rem;
} 

li {
    font-size: 20px;
    float: left;
    cursor: pointer;
    color: black;
}

li:hover {
    background-color: #eee;
    color: #6f244e;
}

/* li:hover .dropdown-content { */
/*     display: block; */
/* } */

.navbar-button.show ~ .dropdown-content {
    display: block;
}

.dropdown-content div:hover {
    /* background-color: #f1f1f1; */
    color: #6f244e;
    /* border: thin solid #6f244e; */
}

.selected {
    background-color: lightblue;
    /* border: thin solid darkblue; */
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


@media (max-width: 700px) {
    body {
        grid-template-rows: 7.5% 5% 85% 2.5%;
    }
    navbar {
        /* height: 300px; */
    }

    ul {
        margin-top: 0;
    }

    li {
        font-size: 16px;
    }

    #footer {
        font-size: 12px;
    }
}

.navbar-button {
    text-align: center;
    margin: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;   
}

#banner {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr;
}

#btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    flex-wrap: nowrap;
}

#status {
    transition: transform 0.2s ease-out;
    position: fixed;
    font-size: 2vmin;
    top: 100px;
    left: 100px;
    cursor: move;
    background-color: gray;
    border: .2vmin solid black;
    padding: 1px;
    color: white;
    opacity: .8;
    z-index: 10;
    border-radius: .5rem;
    white-space: pre-line;
}


#footer {
    grid-row-start: 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
