#canvas {
    width: 1000px;
    height: 600px;
    /* border: 5px solid black; */
    position: relative;
    box-sizing: content-box;
    margin: auto;
}

.cell {
    background-color: white;
    border: 0.5px solid lightblue;
}

.wall {
    background-color: darkblue;
    border: 0.5px solid darkblue;
}

.start {
    background-color: green;
    border: 0.5px solid green;
}

.end {
    background-color: red;
    border: 0.5px solid red;
}

.visited {
    background-color: darkcyan;
    border: darkcyan;
}

.path {
    background-color: gold;
    border: gold;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.selected {
    background-color: lightblue;
    border: thin solid darkblue;
    border-radius: 10%;
}
