#canvas {
    width: 1000px;
    height: 600px;
    /* border: 1px solid black; */
    position: relative;
    box-sizing: content-box;
    margin: auto;
}

.cell {
    background-color: white;
    border: 0.5px solid lightblue;
    position: absolute;
    width: 20px;
    height: 20px;
}
@keyframes visitedAnimation {
  /* 0%  {background-color: greenyellow;} */
  0% {background-color: lightgreen;}
  /* 10%  {background-color: lightcyan;} */
  50%  {background-color: cyan;}
  100%   {background-color: darkcyan;}
}

@keyframes pathAnimation {
  0%   {background-color: lightpink;}
  50%  {background-color: lightsalmon;}
  100% {background-color: gold;}
}

.visited {
    background-color: darkcyan;
    /* border: 0.5px solid darkcyan; */
    animation-name: visitedAnimation;
    animation-duration: 500ms;
    opacity: 0.7;
}

.start {
    background-color: green;
    /* border: 0.5px solid green; */
    opacity: 0.7;
}

.end {
    background-color: red;
    /* border: 0.5px solid red; */
    opacity: 0.7;
}

.found {
    background-color: magenta;
    border: 0.5px solid magenta;
}

.path {
    background-color: gold;
    /* border: 0.5px solid gold; */
    animation-name: pathAnimation;
    animation-duration: 500ms;
    opacity: 0.7;
}

.wall {
    background-color: darkblue;
    /* border: 0.5px solid darkblue; */
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.selected {
    background-color: lightblue;
    border: thin solid darkblue;
    border-radius: 10%;
}
