#canvas-wrapper {
    background-color: white;
    grid-row-start: 3;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    /* width: 1000px; */
    /* height: 700px; */
    /* height: 100%; */
    /* border: 1px solid black; */
    /* position: relative; */
    position: relative;
    box-sizing: content-box;
    margin: auto;
    background-color: white;
    width: 90%;
    height: 100%;
    /* display: flex; */
    /* flex-direction: row; */
}
