
.cell {
    background-color: white;
    border: .1vw solid lightgrey; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: .6vw;
}

@keyframes visitedAnimation {
  0%   {background-color: #845ec2;
  border: .1vw solid #845ec2;}
  30%   {background-color: #a178df;
  border: .1vw solid #845ec2; }
  70%   {background-color: #be93fd;
  border: .1vw solid #845ec2; }
  100%   {background-color: #dcb0ff;
  border: .1vw solid #845ec2; }
}

@keyframes pathAnimation {
  0%   {background-color: lightpink;}
  50%  {background-color: lightsalmon;}
  100% {background-color: gold;}
}

.visited {
    animation-name: visitedAnimation;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

.wall {
    background-color: black;
    opacity: 0.7;
}

.weight {
    background-color: darkgrey;
    opacity: 0.7;
}

.start {
    background-color: green;
    opacity: 0.7;
}

.end {
    background-color: red;
    opacity: 0.7;
}

.path {
    border: .1vw solid darkgoldenrod; 
    opacity: 0.7;
    animation-name: pathAnimation;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}


.head {
    background-color: orange;
    opacity: 0.7;
}

