body {
    margin: 0;
    width: 100%;
    /* width: 100dvw; */
    height: 100dvh;
    text-align: center;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 5% 5% 2.5% 85% 2.5%;
}

#status {
    transition: transform 0.2s ease-out;
    position: fixed;
    font-size: 2vmin;
    top: 100px;
    left: 100px;
    cursor: move;
    background-color: gray;
    border: .2vmin solid black;
    padding: 1px;
    color: white;
    opacity: .8;
    z-index: 10;
    border-radius: .5rem;
    white-space: pre-line;
}

#footer {
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 700px) {
    body {
        grid-template-rows: 7.5% 2% 5% 83% 2.5%;
    }
    #footer {
        font-size: 12px;
    }
}

@media (max-height: 630px) {
    body {
        grid-template-rows: 7.5% 3% 10% 76% 3.5%;
        font-size: 6px;
    }

    #footer {
        font-size: 8px;
    }

}
